[Desktop Entry]
Type=Application
Terminal=false
Name=Vignette
GenericName=VTuber Toolkit
Comment=The open source VTuber software toolkit. ❤
Keywords=anime;vtuber;virtual;face;tracking;
Categories=Utility;Graphics;
Exec=vignette
Icon=org.vignetteapp.Vignette
